.select-file-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.upload-and-delete-all-files {
  display: flex;
  border: 2px dashed black;
  border-radius: 6px;
  height: 56px;
}

.upload-file {
  display: flex;
  height: 100%;
  flex: 1;
}

.upload-file:hover {
  background-color: #e4ebf5;
  cursor: pointer;
}

.upload-files-message {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 12px;
}

.delete-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
  border-left: 2px dashed;
  padding: 0 12px;
}

.delete-icon:hover {
  background-color: #ffeaea;
}

.uploaded-image-and-message {
  border: 2px solid #3d3d3d;
  height: 300px;
  border-radius: 5px;
}

.all-files-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  height: 100%;
  overflow-y: scroll;
  padding: 5px;
}

.no-files-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
