.folder {
  margin-top: 6px;
  /* background-color: rgb(248, 248, 248); */ /* may use bg later */
  border: 1px solid rgb(160, 160, 160);
  display: flex;
  justify-content: space-between;
  padding: 3px 4px;
  width: 330px;
  cursor: pointer;
  border-radius: 4px;
}

.user-icon:hover {
  opacity: 0.7;
}

.folder-name-and-rename-input,
.file-name-and-rename-input {
  margin: 0 4px 2px 0;
  display: flex;
  flex: 1;
  align-items: center;
  min-width: 0;
}

/* we need to have some margin right of folder name to show some space between folder name and buttons but when we 
   are renaming the folder than the rename input should not have that right margin so that the rename input looks 
   equally spaced from the top, bottom and right borders */
.rename-input-visible {
  margin-right: 0;
}

.folder-name,
.file-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  width: 100%;
}

.rename-input {
  height: 20px;
  width: 100%;
}
.action-buttons {
  display: flex;
  gap: 8px;
  align-items: center;
  /* display: none; */ /* uncomment this line when you want to show buttons only when folder is hovered */
}

/* uncomment below code when you want to show buttons only when folder is hovered */
/* .folder:hover .action-buttons {
  display: flex;
} */

.user-icon {
  display: flex;
  align-items: center;
}

.file {
  margin-top: 5px;
  display: flex;
  padding: 3px 3px;
  width: 330px;
  /* padding-left: 5px; */
  border: 1px solid rgb(160, 160, 160);
  border-radius: 4px;
  justify-content: space-between;
}

.sub-folders {
  padding-left: 25px;
}

.expand-folder {
  display: block;
}

.hide-folder {
  display: none;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.input-container input {
  margin: 6px 0 0 0;
  padding: 5px;
  display: flex;
  border: 1px solid lightgray;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
