.card {
  background-color: white;
  border: 1px solid #333;
  border-radius: 0.5rem;
  padding: 0.5rem;
  max-width: 550px;
  margin: 0 auto;
  display: none;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}

.step-title {
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.form-group:last-child {
  margin: 0;
}

.form-group > label {
  color: #333;
  font-weight: bold;
  font-size: 1em;
}

.form-group > input {
  border: 1px solid #333;
  border-radius: 0.25em;
  font-size: 1em;
  padding: 0.25em;
}

.active {
  display: block;
}
