.file-upload {
  display: flex;
  flex-direction: column;
}

.upload-and-delete-file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid #e4e4e4;
  border-radius: 6px;
  border: 2px dashed;
  /* background-color: #f4f4f4; */
}

.upload-file {
  display: flex;
  height: 100%;
  flex: 1;
  padding: 10px 12px;
  border-right: 2px dashed;
}

.upload-file:hover {
  /* background-color: #d9e2f5; */
  background-color: #f2f7ff;
  cursor: pointer;
}

.upload-files-message {
  display: flex;
  align-items: center;
  gap: 15px;
}

.delete-icon {
  padding: 10px 12px;
  cursor: pointer;
}

.delete-icon:hover {
  background-color: #ffeaea;
}

.uploaded-image-and-message {
  border: 2px solid #3d3d3d;
  height: 300px;
  border-radius: 5px;
  padding: 5px;
}

.all-images-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  height: 100%;
  overflow-y: scroll;
  /* background-color: red; */
}

.image-container {
  position: relative;
  height: 95px;
  width: 85px;
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: "cover";
  border: "1px solid #f6f6f6";
}

.image-container .close-image-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 2px;
  height: 15px;
  width: 15px;
  cursor: pointer;
  /* background-color: lightblue; */
}

.no-files-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
