*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* --avatar-size: 50px; */
  /* --timeline-gap: 16px; */
}

.timeline {
  display: flex;
  flex-direction: column;
  /* gap: var(--timeline-gap); */
}

.timeline-entry {
  display: flex;
  gap: 20px;
  width: 100%;
  background-color: lightblue;
}

.image-container {
  /* this will be removed after finalizing all props */
  /* width: var(--avatar-size); */
  position: relative;
  background-color: lightgreen;
}

.image-container img {
  /* not giving height: 100% so that the image does not take entire height of the image container  */
  width: 100%;
  border-radius: 50%;
  border: 2px solid #fff;
}

.line {
  /* copied css */
  position: absolute;
  flex: 1;
  width: 2px;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: #777777;
  z-index: 999999;
  /* not giving the below height so that insted of timeline-line taking entire height of the image-container, its height is calculated dynamically */
  /* height: 100%; */
  /* the value of top is the height of image, so that the line starts where the image ends */
  /* top: var(--avatar-size); */
  /* we go as low in bottom as the --timeline-gap so that the timeline-line fills the entire gap upto the next avatar */
  /* bottom: calc(var(--timeline-gap) * -1); */
}

.timeline-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #9999;
  border-radius: 4px;
  overflow: hidden;
  padding: 12px;
  gap: 8px;
  background-color: white;
  position: relative;
  background-color: lightyellow;
}

.timeline-card .header {
  display: flex;
  justify-content: space-between;
}

.timeline-card .content {
  background-color: #f0f0f0;
  padding: 4px;
  border-radius: 4px;
}
