.tour-container {
  display: flex;
}

.info-dialog {
  display: flex;
  flex-direction: column;
  /* If you are changing the height or width of this popup dialog, be sure to also update it in the setFocus 
  function because this height and width is used for calculating the position of the popup element */
  height: 175px; /* <--this height needs to be same as in setFocus function */
  width: 250px; /* <--this width needs to be same as in setFocus function */
  border: 1px solid #f0f0f0;
  background-color: white;
  border-radius: 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
  /* background-color: lightgreen; */
}

.buttons-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 30%;
  /* background-color: lightpink; */
}

.buttons-container button {
  padding: 8px 16px;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
  cursor: pointer;
}

.popover-arrow {
  height: 12px;
  width: 12px;
  background-color: white;
  transform: rotate(45deg);
  position: absolute;
  /* Do not remove this css - can later be used which making this component separately somewhere else */
  /* for popup at bottom  */
  /* top: -6px;
  left: 25px; */

  /* for popup at right  */
  /* top: 25px;
  left: -6px; */

  /* for popup at top  */
  /* bottom: -6px;
  left: 25px; */

  /* for popup at left  */
  /* top: 25px;
  right: -6px; */
}
